.task {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.597);
  border-radius: 10px;
  background-color: #fff;

  &__main {
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;

    &--done {
      color: #00b894;
      text-shadow: 1px 1px 1px black;
    }

    &--review {
      color: #d63031;
      text-shadow: 1px 1px 1px black;
    }

    &--progress {
      color: #f1c40f;
      text-shadow: 1px 1px 1px black;
    }
  }

  &__title {
    color: #155860;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2px;
    margin: 8px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }

  &__description {
    padding: 10px;
    align-self: center;
  }

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e31281;
    color: #fff;
    border-radius: 10px;
    min-width: 75px;
  }

  &__button {
    background: #e31281;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
    margin: 10px;
    width: 70px;
  }
}
